@import-normalize;

@import "./variables.scss";
@import "./select.scss";
@import "./sidebar.scss";
@import "./task.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background: $color-green;
  margin: 0;
}

#root {
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  height: $header-height;
  width: 100%;
  background: $color-dark;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

main {
  display: flex;
  flex-direction: row;
}

.board {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.screenbox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0;

  &-headed {
    min-height: calc(100vh - $header-height);
  }
}

.loader {
  border: 10px solid $color-white;
  border-top: 10px solid $color-dark;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  &-createSpace {
    margin-top: 15px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    &-small {
      gap: 5px;
    }
  }

  &__label {
    color: $color-white;
    font-size: 30px;

    &-small {
      font-size: 20px;
    }
  }

  &__input {
    background-color: $color-bright;
    border: 0;
    min-height: 44px;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    font-size: 14px;

    &-long {
      width: 410px;
    }

    &-textarea {
      min-height: 100px;
      overflow: hidden;
      resize: none;
    }
  }

  &__button {
    background-color: $color-white;
    border: 0;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    color: $color-black;
    cursor: pointer;

    &:focus-visible {
      outline: $color-black solid 2px;
    }

    &-small {
      width: 100px;
    }

    &-link {
      background-color: initial;
      width: min-content;
      text-wrap: nowrap;
      cursor: pointer;

      &:focus-visible {
        outline: $color-white solid 2px;
      }
    }
  }

  &__item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 5px 0;

    &__label {
      max-width: 260px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__error {
    color: $color-error;
    font-size: 20px;
  }

  &__success {
    color: $color-white;
    font-size: 20px;
  }
}

.add-space {
  color: $color-white;
  background: $color-black;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.create-space {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.success {
  font-size: 20px;
  color: $color-white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
