.select {
  position: relative;

  &-long {
    min-width: 300px;
    width: 100%;
    max-width: 410px;
  }

  &__root {
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    min-height: 44px;

    &-header {
      width: 200px;
    }

    &-disabled {
      background-color: initial !important;
    }

    &:hover {
      background-color: $color-white-opacity;
    }

    &-open {
      background-color: $color-white-opacity;
    }
  }

  &__value {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__label {
    width: 100%;
    color: $color-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  &__dropdown {
    min-width: 100%;
    max-width: 300px;
    padding: 10px 0;
    position: absolute;
    background: $color-white;
    top: calc(100% + 10px);
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 28px 0 $color-black-opacity;
    -webkit-box-shadow: 0 0 28px 0 $color-black-opacity;
    -moz-box-shadow: 0 0 28px 0 $color-black-opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;

    &-calendar {
      max-width: min-content;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      max-height: 70vh;
      overflow-y: auto;
    }

    &__item {
      min-width: 100%;
      padding: 0 15px;
      max-width: 300px;
      color: $color-black;
      cursor: pointer;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 10px;

      &:hover {
        background-color: $color-dark;
        color: $color-white;
      }

      &__label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }

      & > svg {
        min-width: 19px;
      }
    }
  }
}
