.select {
  position: relative;

  &__root {
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 200px;

    justify-content: space-between;

    &:hover {
      background-color: $color-white-opacity;
    }

    &-open {
      background-color: $color-white-opacity;
    }
  }

  &__label {
    width: 100%;
    color: $color-white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  &__dropdown {
    min-width: 100%;
    max-width: 300px;
    padding: 10px 0;
    position: absolute;
    background: $color-white;
    top: calc(100% + 10px);
    left: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__item {
      cursor: pointer;
      min-width: 100%;
      padding: 10px 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px;
      color: $color-black;

      &:hover {
        background-color: $color-dark;
        color: $color-white;
      }
    }
  }
}
