$color-white: #edf5e1;
$color-white-opacity: #edf5e12a;
$color-bright: #8ee4af;
$color-bright-opacity: #8ee4a12a;
$color-green: #5cdb95;
$color-dark: #379683;
$color-black: #021325;
$color-black-opacity: #021325b6;
$color-black-opacity-hard: #0213253a;
$color-error: #bd0c0c;

$header-height: 80px;
